</div>
<div class="about_bg">
    <div class="main">
        <div class="about_title">Company Profile

        </div>

        <div class="about_text">
            <h4>GMP, ISO and USFDA Certified</h4>
            <p></p>
            <p>Being farmers ourselves we are closely associated with farmers and suppliers across the world, we are involved right from initial stages of farming to supply of finished products on time, at an affordable prices and hassle free to our Customers.</p>
            <p>RELISH AGRO FOOD can provide current market updates and recommend customers when is the best time to buy and make it easier for our valuable customers to make critical buying decisions, that is one of the benefits working with RELISH AGRO FOOD. We even provide door delivery to your warehouse and deal with FDA and Customs for you so our customers can concentrate on other important things.</p>
            <img src="about_us/fro_logo.png" alt="">
            <p>Our relationships developed over long periods with our growers have allowed us to supply quality products to the industry and maintain continuity of supply even through poor harvests.</p>
            <p>RELISH AGRO FOOD is particularly well known for supply of food ingredients from harvest to supply of finished goods on time. We can offer any port delivery or we can even offer door delivery to your warehouse to make it easier for our customers.</p>
            <p>Serving our customers directly from our office in India, our efforts are focused on providing a complete line of superior quality FROZEN VEGETABLES &amp; FRUITS at competitive prices and value added service. We strive to build lasting supply relationships, offer value-added services and help our customers meet their cost savings goals.</p>
            <p>Honest dealings with customers, coupled with outstanding people and products, add up to the high level of customer service expected of RELISH AGRO FOOD, In short, we will be our customer's most valued supplier.</p>
            <p>It starts with a fair and open sharing of expectations between each and everyone. It guides us throughout the business day, with our suppliers, our customers, and within the communities, we call home. The result is a hard-earned reputation for honesty and credibility in all that we do.</p>
            <p>Always offers competitive prices and supplies goods to customer requirements. Our key to this is the direct relationship we develop with each customer. You will only ever need one contact at RELISH AGRO FOOD to deal with your every enquiry. All our personnel are multi-skilled and we look forward doing business with you on a long-term basis.</p>

        </div>

    </div>
    <div class="float_clear"></div>
    <div class="member_bg">
        <div class="main">
            <div class="member_title">MEMBER OF</div>
            <div class="member_text">
                <%= image_tag "member_img.png" %>
                <p>APEDA – Agricultural &amp; Processed Food Products Development Authority </p>
                <p>FCER – Food Canning Establishment Registration, Food &amp; drug Adminitration</p>
                <p>FPO – Fruit Product Order</p>
                <p>Spices Board and FSSAI – License No. 10014021001078</p>
                <p>IEC – Import Export Code, DGFT Spice Board of India</p>
            </div>

            <div class="float_clear"></div>
        </div>
    </div>
    <div class="main">
        <div class="about_title">Quality Policy</div>
        <div class="quality_text">
            <%= image_tag "policy_img.png" %>
            <p>RELISH AGRO FOOD quality means that you will receive the best materials available. Each product is strictly controlled throughout its life from planting and harvesting to delivery to your door.</p>
            <p>RELISH AGRO FOOD is based on direct relationships between our team in India and our growers. Every process is carefully checked and tested on a regular basis to achieve consistency in providing </p>
            <p>Excellent quality. Wherever necessary, full audits of each process line are carried out by professional representatives.</p>
            <p>Specific testing regimes, such as Lot Sample testing by third party international testing agency to assure the status of our products is part of our standard operating procedures.</p>
            <p>Our companies employ a combination of quality systems to ensure the very best product is achieved year on year. Our growers are supported by qualified representatives appropriate to their particular crops to ensure that RELISH AGRO FOOD gives back not just cash for crops but also to achieve better management of the supply chain.</p>
        </div>
        <div class="float_clear"></div>
        <div class="about_title">Service</div>
        <div class="about_text">
            <%= image_tag "food_img.png" %>
            <p>Whether serving our customers directly from our Bellevue office or through our office in India, our efforts are focused on providing a complete line of superior quality ingredients at competitive prices and Relish value added service. We strive to build lasting supply relationships, offer value-added services and help our customers meet their cost savings goals. </p>
            <p> Honest dealings with customers, coupled with outstanding people and products, add up to the high level of customer service expected of Relish Agro Food In short, we will be our customer's most valued supplier.</p>

            <div class="about_title">Values</div>
            <p>Excellence, honesty, quality, and Relish value added service. These are the Relish Agro Food principles that have shaped and continue to guide this solid, growing and vertically integrated company.</p>

            <div class="about_title">Excellence</div>
            <p>It's accomplished by hands-on management and strict attention to detail at every level, by people who make excellence a personal goal, as well as a corporate one. Given the best resources and encouragement in aggressive investment and thoughtful risk-taking, we maintain our leadership position.</p>

            <div class="about_title">Honesty</div>
            <p>It starts with a fair and open sharing of expectations between each and everyone. It guides us throughout the business day, with our suppliers, our customers, and within the communities we call home. The result is a hard-earned reputation for honesty and credibility in all that we do.</p>

            <div class="about_title">Pricing Policy</div>
            <p>Relish Agro Food always offers competitive prices and supplies goods to customer requirements. Our key to this is the direct relationship we develop with each and every customer. You will only ever need one contact at Relish Agro Food to deal with your every enquiry. All our personnel are multi-skilled and we look forward doing business with you on a long term basis.</p>

        </div>

    </div>

    <div class="float_clear"></div>
</div>
<style type="text/css">
    #header {
        background-color: black;
        /*background: rgba(0, 0, 0, 0.5);*/
    }
    
    #page_wrapper {
        background-repeat: repeat;
        background-position: left top;
        background-attachment: scroll;
        position: relative;
        overflow: hidden;
        z-index: 99999;
        min-height: 35vh;
    }
</style>