</div>
<div class="main">
    <div class="about_title">Careers</div>

    <div class="contact_left wow fadeInDown animated" data-wow-offset="0" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">

        Please fill out the form and we’ll get back to you soon if your resume fits with our hunt.
        <form action="careers.php" method="post" enctype="multipart/form-data" name="frm2" id="frm2" onsubmit="return validate(this); ">
            <script language="JavaScript" type="text/javascript">
                function validateEmail(fld) {
                    var my = fld;
                    var attherate = my.indexOf("@");
                    var lastattherate = my.lastIndexOf("@")
                    var dotpos = my.lastIndexOf(".");
                    var posspace = my.indexOf(" ");
                    var totallen = my.length;
                    if (attherate <= 0 || dotpos <= 0 || attherate > dotpos || (dotpos - attherate) <= 1 || (dotpos == totallen - 1) || posspace > -1 || attherate != lastattherate) {
                        return false;
                    } else {
                        return true;
                    }
                }

                function validate(frm) {
                    if (frm.Name.value == "") {
                        alert("Please Enter Name");
                        frm.Name.focus();
                        return false;
                    } else if (frm.Phone.value == "" || isNaN(frm.Phone.value) == true) {
                        alert("Please Enter Valid Phone");
                        frm.Phone.focus();
                        return false;
                    } else if (frm.Email.value == "" || !(validateEmail(frm.Email.value))) {
                        alert("Please Enter Email");
                        frm.Email.focus();
                        return false;
                    } else if (frm.Resume.value == "") {
                        alert("Please Attach Resume");
                        frm.Resume.focus();
                        return false;
                    } else {
                        return true;
                    }
                }
            </script>
            <br>
            <br>

            <div class="compulsory">(*Represents compulsory fields)</div>
            <div class="form_field"><span>Name * :</span>
                <input type="text" name="Name" id="Name">
            </div>
            <div class="form_field"><span>Phone * :</span>
                <input type="text" name="Phone" id="Phone">
            </div>
            <div class="form_field"><span>Email * :</span>
                <input type="text" name="Email" id="Email">
            </div>
            <div class="form_field"><span>Resume * :</span>
                <input name="Resume" type="file" id="Resume">
            </div>
            <div class="form_field"><span class="lastnone">&nbsp;</span>
                <input type="submit" name="submit" value="Submit" class="button">
                <input name="Reset" type="reset" class="button" id="Reset" value="Reset">
            </div>
            <div class="float_clear"></div>
        </form>

    </div>

</div>
<style type="text/css">
    #header {
        background-color: black;
        /*background: rgba(0, 0, 0, 0.5);*/
    }
    
    #page_wrapper {
        background-repeat: repeat;
        background-position: left top;
        background-attachment: scroll;
        position: relative;
        overflow: hidden;
        z-index: 999999;
        min-height: 35vh;
    }
</style>