<%= form_tag(homes_contact_us_path, method: :get) do %>
	<label>Name</label>
	<%= text_field_tag :name, '',placeholder: 'Enter Name' %>
	<label>Email</label>
	<%= text_field_tag :email, '', placeholder: 'Please Enter Email' %>
	<label>Subject</label>
	<%= text_field_tag :subject, '', placeholder: 'Please Enter Subject' %>
	<label>Description</label>
	<%= text_field_tag :message, '', placeholder: 'Please Enter Description' %>
	<%= submit_tag "Send Message" %>
<% end %>
