<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=" width=device-width, initial-scale=1">
    <title>Ossom Foods</title>
    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Amatic+SC:400,700%7CMontserrat:400,700%7COpen+Sans:300,400,700%7CRoboto" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row mt-20">
      <div class="col-md-12">
      </div>
    </div>
  </div>
<div class="top-silder">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
         <%= image_tag 'ny.jpg'%>
      </div>

      <div class="item">
        <%= image_tag '2.jpg'%>
      </div>

      <div class="item">
         <%= image_tag '3.jpg'%>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
    <section id="main-product br-bottom" class="product-section bg-color--white">
        <div class="container-fluid container--delivery">
            <div class="row">
                <div class="col-sm-12">
                    <div class="spacer-70">
                    </div>
                </div>
                <div class="col-12 col-sm-6" style="z-index:6;">
                    <div class="col-wrapper txt-center">
                        <div class="img-wrapper-margin">
                        <%=link_to (image_tag "main-product1", class: ' main-product-img img-fluid image-box-img'), products_path %>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6" style="z-index:6;">
                    <div class="col-wrapper txt-center">
                        <div class="img-wrapper-margin">
                         <%=link_to (image_tag "main-product2", class: 'img-fluid main-product-img image-box-img'), products_path %>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="spacer-70">
                    </div>
                </div>
            </div>
        </div>
     </section>
	 <section class="mt-30 mb-20">
	 	<span class="product-label product1-label"><b>FROZEN VEGETABLES</span>
	 	<span class="product-label product2-label"><b>REDAY TO EAT</span></b>
	 </section>
    <!--start first paralax-->
    <section class="specialities">
        <div class="welcome_bg">
                <div class="main">
                    <div class="welcome_title wow fadeInDown animated" data-wow-offset="0" data-wow-delay="0.8s" style="visibility: visible;-webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; animation-delay: 0.8s;">Welcome to Ossom Foods </div>
                    <div class="welcome_text wow fadeInDown animated" data-wow-offset="0" data-wow-delay="0.9s" style="visibility: visible;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;">Being a farmers ourselves we are closely associated with farmers and suppliers across the world, 
                        We are involved right from initial stages of farming to supply of finished products on time, 
                        at a affordable prices and hassle free to our Customers. </div>
                    <div class="welcome_more_btn btn btn-warning btn-sm button cta hvr-float-shadow"> <a href="about_us.html">More</a> </div>
                </div>
            </div>
    </section>
    <div id="location">
        <iframe src="https://snazzymaps.com/embed/54951"></iframe>
    </div>
    <!-- Start footer -->
    <footer id="subscribe" class="pgb-60 pgt-180  bg-color--dark">
        <div class="container custom_width">
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter-wrapper">
                        <div class="title-block txt-center">
                            <h1 class="title-block__title title-block__title--delivery txt-light">Contact Us</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-4 col-lg-7">
                        <form class="newsletter-form">
                            <input type="text" name="nwl_email" class="nwl-input" value placeholder="Your email address" required="required">
                            <br>
                            <input type="text" name="nwl_email" class="nwl-input" value placeholder="subject" required="required" style="height: 150px; margin-top: 10px">
                            <br>

                        </form>
                        <div class="newsletter-form__result"></div>
                    </div>
                </div>
                <div class="col-sm-12 ">
                    <div class="contact-us-btn">
                        <button type="submit" name="submit" class="align-items-center nwl-buton btn--round btn--color"> SUBSCRIBE</button>
                    </div>
                </div>
                <div class="col-12">
                    <div class="footer-wrapper">
                        <ul class="footer-social">
                            <li class="footer-social__item "><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="footer-social__item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="footer-social__item"><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            <li class="footer-social__item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <ul class="footer-nav">
                            <li class="footer-nav__item"><a class="footer-navlink" href="index.html#about">ABOUT US</a></li>
                            <li class="footer-nav__item"><a class="footer-navlink" href="index.html#menu">PRODUCT</a></li>
                            <li class="footer-nav__item"><a class="footer-navlink" href="index.html#offer">CAREER</a></li>
                            <li class="footer-nav__item"><a class="footer-navlink" href="index.html#reservation">SALES INQUIRY</a></li>
                            <li class="footer-nav__item"><a class="footer-navlink" href="index.html#location">CONTACT US</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--  </div> -->
    <!-- /.#page_wrapper -->
    <a href="#" class="totop totop-vissible">
        <svg class="svg-inline--fa fa-chevron-up fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
            <path fill="currentColor" d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z"></path>
        </svg>
        <!-- <i class="fas fa-chevron-up"></i> -->
        <p class="totop-text">TOP</p>
    </a>

    <!-- load scripts -->
    <!-- <script src="js/plugins/jquery-3.3.1.min.js"></script> -->
    <!-- <script src="js/plugins/bootstrap.min.js"></script> -->
    <!-- <script src="addons/jquery.smooth-scroll.min.js"></script> -->
    <!--popup script-->
    <!-- <script src="addons/Magnific-Popup/jquery.magnific-popup.js"></script> -->
    <!--parallax script-->
    <!-- <script  src="addons/Paraxify/paraxify.min.js"></script> -->
    <!-- <script  src="addons/modernizr-custom.js"></script> -->

    <script>
        FontAwesomeConfig = {
            searchPseudoElements: true
        };
        $(window).load(function() {
        $('.flexslider').flexslider({
            animation: "slide"
          });
        });
    </script>
    <!-- <script defer src="fonts/font-awesome/js/fontawesome-all.js"></script> -->
    <!-- Main template script -->
    <!-- <script src="js/script.js"></script> -->
</body>

</html>