@charset "utf-8";
body {
	font-family: Verdana, sans-serif, Geneva;
	font-size: 12px;
	color: #000;
	line-height: 20px;
	margin: 0;
	padding: 0;
	background: #fff;
}
html {
	width: 100%;
	height: 100%;
}
h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
	height: auto;
	border: none;
	vertical-align: middle;
}
iframe {
	border: none;
	outline: none;
	overflow: hidden;
}
a {
	outline: none;
	color: #000;
	text-decoration: none;
}
ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
p {
	font-family: Verdana, sans-serif, Geneva;
	font-size: 12px;
	color: #000;
	line-height: 20px;
	padding: 0 0 15px 0;
	margin: 0;
	text-align: justify;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.float_clear {
	clear: both;
}
/*****************************************/

#wrap {
	position:relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
}
.banner {
	width: 100%;
	position: relative;
	z-index: 1;
	overflow: hidden;
	-moz-box-shadow: 0px 12px 10px -8px #999;
	-webkit-box-shadow: 0px 12px 10px -8px #999;
	box-shadow: 0px 12px 10px -8px #999;
	border-bottom: 1px solid #f5f5f5;
	padding-top:108px;
}
.main {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}
.logo {
	float: left;
}


header {
	/*background:#fff;*/
	position:fixed;
	top:0;
	left:0;
	z-index:99999;
	width: 94%;
	padding:0px 3%;
	margin: 0 auto;
	display:inline-block;
	/*box-shadow:0 8px 10px -12px #aaa;*/
	height:auto;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
	transition:all 0.5s ease-in-out 0s;
}
header.smaller {
	background: #fff;
	-webkit-opacity:0.9;
	opacity:0.9;
	/*padding:5px 2%;
    height:auto;*/ border-bottom: 1px dotted #ccc;
}
header .logo {
	float:left;
	width:auto;
	padding-top:0px;
	transition:all 0.3s ease-in-out 0s;
}
header.smaller .logo {
	padding-top:0;
}
header .topmenu {
	position:relative;
	float: right;
	/*border-bottom: 1px solid #cfcfcf;*/
	/*border-bottom: 1px solid rgba(207,207,207, .4);*/
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s
}
header.smaller .topmenu {
	border-bottom:none;
}

.number{ float: right;}

.quick_contact {
	float: right;
	margin-top:13px;
	background: url(../images/call_icon.png) left top no-repeat;
	padding: 5px 0 9px 40px;
	height: 25px;
	font-family: 'swis721_ltcn_btlight', Arial, sans-serif;
	font-size: 20px;
}
.banner {
	width: 100%;
	height: 100%;
}
.green_bg {padding-bottom: 25px;
	background-color: #FAFAFA;

}
.thum1 {
	width: 33%;
	float: left;
	/*background: url(../images/line.png) center right no-repeat;*/ border-right: 1px dotted #ccc; margin-top: 3%;
}
.thum1.last {
	float: left;
	background: none; border-right: none; margin-top: 3%;
}
.subtitle {
	font-family: 'swis721_ltcn_btlight', Arial, sans-serif;
	font-size: 24px;
	padding: 20px 0 15px 0;
	text-align: center;
	color: #555;
}
.green_img {
	text-align: center;
	padding: 15px 0 15px 0;
}
.more_btn {
	text-align: center;
	border: 1px #AFCF65 solid;
	padding: 5px;
	width: 50px;
	margin: 0 auto;
	font-family: 'swis721_ltcn_btlight', Arial, sans-serif;
	font-size: 18px;
	color: #555;
}
.more_btn a {
	color: #555;
}


.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(117, 117, 117, 0.35) 0%, rgba(117, 117, 117, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}




/*.welcome_bg {
	background: url(../images/welcome_bg.jpg) center top no-repeat;
	height: 285px; 
}*/
.welcome_title {
	font-family: 'swis721_ltcn_btlight', Arial, sans-serif;
	font-size: 28px;
	text-align: center;
	color: #83B40E;
	padding: 45px;
}
.welcome_text {
	line-height: 35px;
	font-size: 12px;
	width: 55%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 2%;
}
.welcome_more_btn {
	text-align: center;
	border: 1px #83B510 solid;
	padding: 5px;
	width: 50px;
	margin: 0 auto;
	font-family: 'swis721_ltcn_btlight', Arial, sans-serif;
	font-size: 18px;
	color: #fff;
}
.welcome_more_btn a {
	color: #000;
}
.center_bg {
	background: url(../images/center_bg.jpg) center top no-repeat;
	padding: 9%;
}
.product-section {background: url(login_back.png)}
.specialities {background: url(updates.jpg)}
.center_border {
	border: 1px #83B50F dotted;
	border-radius: 6px;
	width: 60%;
	margin: 0 auto;
	padding: 2%;
}
.center_highlight {
	text-align: center;
	font-family: 'swis721_ltcn_btlight', Arial, sans-serif;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 30px;
}
.we_are_bg {
	background: url(../images/we_are_bg.jpg) center top no-repeat; /*height:733px;*/
	margin-bottom: 2%;
}
.we_title {
	font-family: 'swis721_ltcn_btlight', Arial, sans-serif;
	font-size: 22px;
	padding: 20px 0 0 0;
	text-align: center;
	color: #666666;
}
.we_thum {
	width: 33%;
	float: left;
	border-right: 1px solid #ccc;
}
.we_img {text-align: center;}

.we_img img {
	-webkit-transform: scale(0.8); /*Webkit: Scale down image to 0.8x original size*/
	-moz-transform: scale(0.8); /*Mozilla scale version*/
	-o-transform: scale(0.8); /*Opera scale version*/
	-webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
	-moz-transition-duration: 0.5s; /*Mozilla duration version*/
	-o-transition-duration: 0.5s; /*Opera duration version*/
	opacity: 1; /*initial opacity of images*/
	margin: 0 0px 0px 0; /*margin between images*/
}
.we_img img:hover {
	-webkit-transform: scale(1); /*Webkit: Scale up image to 1.2x original size*/
	-moz-transform: scale(1); /*Mozilla scale version*/
	-o-transform: scale(1); /*Opera scale version*/
	opacity: 1;
}



.we_text {
	line-height: 26px;
	font-size: 12px;
	text-align: center;
	margin: 0 auto;
	padding: 3%;
}
.we_thum.last {
	width: 33%;
	float: left;
	border-right: none;
}
.border_bottom {
	border-bottom: 1px solid #E4E4E4;
	margin-top: 5%;
	margin-bottom: 5%;
}
.google_map {
	width: 100%;
}
.footer {
	background: url(../images/footer_bg.jpg) repeat-y scroll center top;
	line-height: 22px;
	color: #fff;
	padding: 10px;
}
.footer_link {
	float: left;
	margin-right: 10%;
}
.footer_column_main {
	padding-bottom: 15px;
}
.footer_menu {
	width: 180px;
}
.footer_column {
	float: left;	/*margin-right:5%;*/
}
.footer_column li {
	background: url(../images/bullet.png) no-repeat left 12px;
	padding: 3px 0 0px 10px;
	font-size: 10px;
}

.footer_column li a { color: #fff;}


.footer_address {
	float: left;
	width: 25%;
	border-right: dotted 1px #96D700;
	padding-left: 2%; 
}
.footer_address.last {
	border-right: none;
}
.address_title {
	font-family: 'swis721_ltcn_btlight', Arial, sans-serif;
	font-size: 18px;
	background: url(../images/add_icon.png) left top no-repeat;
	padding-left: 25px;
}
.address_title.tele {
	background: url(../images/tele_icon.png) left 3px no-repeat;
}
.address_title.mail {
	background: url(../images/mail_icon.png) left 10px no-repeat;
	padding-bottom: 15px;
}

.address_title.mail a {
    color: white;
    text-decoration: none;
}


.address_title.fax {
	background: url(../images/fax_iocn.png) left 5px no-repeat;
	padding-bottom: 15px;
}
/*.addres_bottom_line{border-right: dotted 1px #96D700; margin-bottom:2%;}*/
.footer_address span {
	font-family: Verdana, sans-serif, Geneva;
	font-size: 10px;
}
.footer_bottom_strip {
	background-color: #709F00;
	/*height: 50px;*/
	font-size: 10px;
}
.bottom_strip_left {
	float: left;
	padding: 15px 0 15px 0;
	color: #fff;
}

.bottom_strip_left a {color: #fff;}


.social_icon {
	float:right;
	width: 160px;
	height: 31px;
	margin: 10px 0 0 0;
}
.social_icon li a {
	float: left;
	/*margin-right: 10px;*/
	background: url(../images/social_icon.png) no-repeat left top;
	width: 40px;
	height: 30px;
	display: block;
	overflow: hidden;
	text-indent: -99999px;
}
.social_icon li a.facebook {
	background-position: 1px 5px;
}
.social_icon li a.facebook:hover {
	background-position: 1px -24px;
}
/*.social_icon li a.googleplus {
	background-position: -35px 1px;
}
.social_icon li a.googleplus:hover {
	background-position: -35px -48px;
}*/
.social_icon li a.twitter {
	background-position: -34px 5px;
}
.social_icon li a.twitter:hover {
	background-position: -34px -24px;
}
.social_icon li a.linkedin {
	background-position: -114px 5px;
}
.social_icon li a.linkedin:hover {
	background-position: -114px -24px;
}
.social_icon li a.youtube {
	background-position: -71px 5px;
}
.social_icon li a.youtube:hover {
	background-position: -71px -24px;
}
/* background slide transition */
.social_icon a {
	transition: background .3s;
	-moz-transition: background .3s; /* Firefox 4 */
	-webkit-transition: background .3s; /* Safari and Chrome */
	-o-transition: background .3s; /* Opera */
}

.about_bg{background: url(profile_bg.jpg) no-repeat center top; padding: 15px 0;}
.about_title{font-family: "swis721_ltcn_btlight",Arial,sans-serif;   font-size:24px;  padding: 20px 0 20px 0; border-bottom: 1px #ccc dotted; margin-bottom: 2%;}
.about_title span{font-size:18px; padding: 0 0 0 20px;}
.about_text{float:left;}
.about_text p {line-height: 18px; padding: 0 0 15px 0; text-align: justify;}
.about_text img{ width:25%; float: right; padding: 0 0 10px 25px;}

.member_bg{background: url(member_bg.png) left top; padding: 20px 0;}
.member_title{font-family: "swis721_ltcn_btlight",Arial,sans-serif; font-size:30px;  padding: 20px 0 15px 0; color:#fff;}
.member_text{float:none;}
.member_text p { color: #fff; padding: 10px 0 15px 0; font-size: 18px; font-family: "swis721_ltcn_btlight",Arial,sans-serif;}
.member_text img{float: right; padding: 0 0px 10px 25px;}

.quality_text{float:right;}
.quality_text p {line-height: 18px; padding: 0 0 15px 0; text-align: justify;}
.quality_text img{float: left; padding: 0 25px 15px 0px;}

.frozen_bg{background: url(../frozen_vegetable/frozen_bg.jpg) center top repeat-y; padding: 15px 0;}
.frozen_main{ padding-bottom:2%; border-bottom:1px dotted #ccc; margin-bottom: 2%;}
.frozen_left{ float:left; width:30%; border:1px dotted #ccc; padding:5px;}
.frozen_right{ float:right; width:63%; padding-left: 5%; }
.frozen_title{font-family: "swis721_ltcn_btlight",Arial,sans-serif; font-size:22px;  padding: 0 0 15px 0;}
.frozen_red{font-family: "swis721_ltcn_btlight",Arial,sans-serif; font-size:16px; color:#B60000; text-transform:uppercase;}
.frozen_left_two{float:left; width:63%; padding-right: 5%;}
.frozen_right_two{float:right; width:30%; border:1px dotted #ccc; padding:5px;}

.contact_left {width:28%; float:left;}
.contact_right {width:28%; float:right;}

.contact_text {line-height: 25px; margin-bottom: 25px;}
.email_me {text-decoration: underline;}
.contact_text_red {color:#dc251a; font-family: "swis721_ltcn_btlight", Arial, sans-serif; font-size:16px;}


.inquiry_right {
	float: right;
	width: 45%;
	margin-right: 5%;
}
.inquiry_field {
	float: left;
	margin-bottom: 15px;
	width: 100%;
}
.inquiry_field span {
	display: block;
	float: left;
	padding-right: 2%;
	width: 40%;
}
.inquiry_field input, .inquiry_field textarea {
	background: #fff;
	border: 1px dotted #C5C4C4;
	padding: 5px 3px;
	text-decoration: none;
	width:100%; font-size: 12px;
        font-family: Verdana, sans-serif, Geneva;
}
.inquiry_field select {
	background: #fff;
	border: 1px dotted #C5C4C4;
	color: #000;
	opacity: 0.7;
	padding: 5px 3px;
	text-decoration: none;
	width: 100%; font-size: 12px;
}
.jump_btn option, select {
    	/*text-transform: uppercase;*/
	/*font-size: 12px;*/
	color: #000000;
	font-weight: 500;
	
}
.inquiry_field input[type="radio"], .inquiry_field input[type="checkbox"] {
	background: #fff;
	border: 1px dotted #C5C4C4;
	padding: 0;
	text-decoration: none;
	width: auto;
}
.inquiry_field input.button, .inquiry_field input[input="button"], input[input="submit"], input[input="reset"] {
	background: #fff;
	border: 1px dotted #C5C4C4;
	cursor: pointer;
	height: 30px;
	margin-right: 13px;
	margin-top: 5px;
	outline: medium none;
	padding: 5px;
	width: 70px;
}
.inquiry_field div {
	float: left;
	width: 57%;
}
.inquiry_field div select {
	float: left;
	width: 31%;
	margin: 0 2px;
}


/*****************************************career*******************/
.compulsory  {
	text-align:left;
	font-size:11px;
	margin-bottom:10px;
}
.form_field {
	width: 100%;
	margin-bottom: 20px;
}
.form_field span {
	width: 28%;
	display: block;
	float: left; 
	text-align:left;
	font-size:12px;
}
.form_field input, .form_field textarea, .form_field select {
        width: 68%;
	border: 1px solid #D7D7D7;
	color: #000;
	text-decoration: none;
	padding: 2px 1%; 
}
.form_field input[type="checkbox"], .form_field input[type="radio"] {
	background:none;
	width:auto;
	border:none;
	vertical-align:bottom;
}
.form_field input[type="button"], .form_field input[type="submit"], .form_field input[type="reset"] {
	margin-right: 13px;
	border: 1px solid #ccc;
	padding: 2px 5px;
	cursor: pointer;
	outline: none; 
	width:70px;
	height:30px;
	margin-top:5px;
	
}

.only_left{ float: left; width: 33%;}
.coming_soon{ padding: 100px 0; text-align: center;}

.up_arrow {
	position: fixed;
	top: 91%;
	z-index: 99;
	margin: 0 auto 0 0px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	text-shadow: 0px 2px 10px #333;
	-webkit-animation-name: example;
	-webkit-animation-duration: 4s; 
	-webkit-animation-iteration-count: infinite; 
	animation-name: example;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.scrollToTop {
	text-decoration: none;
	position: fixed;
	right: 10px;
	display: none;
}

.google_map {/*background:#FFF;*/ width: 100%;	margin: 0 auto;}
#map-canvas {height: 375px; width: 100%; color: #333;}
#map-canvas img {max-width: none;}
.bt{ width:100%; background: url(../images/bt.jpg) center top no-repeat; height:240px;}
.designed {float:right;	vertical-align:text-bottom;}
.designed a {font-size:11px;}



.design_by { text-align: right; float:left; color: #979797;}
.design_by a {	color: #FFF; font-size: 9px;}



@media only screen and (max-width: 767px) {
	
	.design_by { text-align: center; float:none; color: #FFFF;}
.design_by a {	color: #FFF; font-size: 9px;}
    
.main{ width: 96%; margin: 0 auto;}     
    
header {width:100%; padding:0; opacity:0.9;}
header .topmenu {float:none; border:none; padding-top:14%;/*padding-right:18%;*/}
header .logo {padding-top:0; padding-left:0px; width:50%;}

header .logo img { width: auto;}
.quick_contact{font-size: 12px;}


.thum1 {
    /*background: rgba(0, 0, 0, 0) url("../images/v_line.png") no-repeat scroll bottom center;*/
    border-right:none;
    border-bottom: 1px dotted #ccc;
    float: none;
    width: 100%;
    padding-bottom: 25px;
}

.welcome_title {font-size: 20px; padding: 14px;}

.welcome_text { line-height: 20px; margin: 0 auto 2%; padding-bottom: 25px; text-align: justify; width: 93%; }


.center_border { padding: 2%;  width:100%;}
.center_highlight{font-size: 17px;}
.we_thum{ width:90%;  border-right:none; border-bottom:1px solid #ccc; padding-bottom: 25px; margin: 0 auto; float: none;}
.we_thum.last{ width:90%;  border:none; padding-bottom: 25px; margin: 0 auto; float: none;}
.footer_menu {width:100%; margin-bottom:10%;}
.footer_address { border-right:none;  padding-left:0%; width:100%;}
.address_title{ font-size: 15px; padding-left: 21px;  margin-bottom:4%;}
.footer {padding:8px;}
.number {float: none;}
.subtitle {font-size: 20px;}
.more_btn {font-size: 15px;}
.welcome_more_btn {font-size: 15px;}
.footer_address.last { text-align: center;}
.bottom_strip_left { float:none; margin: 0 auto; padding:15px 0;  text-align:center;}
.social_icon {float:none;  margin:0 auto;}
.about_title {font-size: 22px;}
.about_text img {padding: 0 0 10px 10px;  width:50%;}
.member_title {font-size: 26px;  padding: 10px 0 15px 0;} 
.member_text img{padding: 20px 0; text-align: center; float:none; }
.member_text p {font-size: 16px;}
.quality_text img{width:50%;}
.frozen_left { float:none;  margin:5% auto; width:80%;}
.frozen_right { padding-left:0; width: 100%;}
.frozen_title {font-size:20px;}
.frozen_left_two{width:100%; padding-right:0%;}
.frozen_right_two { float:none;  margin:5% auto; width:80%;}
.frozen_red {font-size:14px;}
.contact_left {width:100%; border-bottom: 1px dotted #ccc; margin-bottom: 5%;}
.contact_right {width:100%;}
.inquiry_field input, .inquiry_field textarea { width:98%;}
.form_field span {width:25%;}
.only_left{ width: 100%;}
}

/*600 x 800*/
@media only screen and (min-width: 510px) and (max-width: 767px) {
header .topmenu { padding-top: 10%;}
.thum1 {width: 33%; float: left; background: url(../images/line.png) center right no-repeat;}
.thum1.last {float: left; background: none;}
.welcome_bg {height: 210px;}
.bottom_strip_left { float:left;}
.social_icon {float:right;}
.footer_address {width:60%;}
.footer_menu {width: 35%;}
.footer_address.last { text-align: left; width:60%; float: right;}
.bottom_strip_left { padding:0;}
.about_text img {width: 30%;}
.member_text img {padding: 0 0 0 20px; width:50%; float:right;}
.quality_text img {width:30%;}
.member_text p{padding: 10px 0;}
.frozen_left{width:35%; float: left; margin: 0%;}
.frozen_right{width:60%;}
.frozen_right_two {width:35%; float:right; margin: 0%;}
.frozen_left_two {width:60%;}
.contact_left {width:48%; border-bottom:none;}
.contact_right {width:48%;}
.form_field span {width:26%;}
.only_left{ width:50%;}
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
	.main {width:98%;  padding: 2% 0;}
	.welcome_text { line-height:30px; width: 80%;}
	.footer_menu { width: 100px;}
	.footer_address {width: 26%; height:205px;}
	.number {float:none;}
	.form_field span {width:25%;}
	header .topmenu {	float:none;	padding-top:10px;	border:none; }
}

/*1024x768*/
@media only screen and (min-width: 769px) and (max-width: 1201px) {
/*.main {width: auto;}*/
/*.footer_address {height: 150px;}*/
}
