/*** Variables ***/
/* layout */
/* colors */
/* fonts */
/*** Misc settings ***/
/* Smartphones */
/* Tablets */
/* Desktops and laptops */
/* Large screens  */
/*** General settings ***/
body {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #333;
}

#page_wrapper {
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  z-index: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Amatic SC", cursive;
}

h1 {
  font-size: 62px;
  line-height: 62px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 25px;
  letter-spacing: 20px;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
}

h5 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
}

h6 {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

a {
  color: #333;
}

a:focus, a:hover {
  color: #cca300;
}

a:active, a:hover {
  outline: 0;
}

a:focus, a:hover {
  text-decoration: none;
  outline: none;
}

/* helpfull clases*/
.flex-row {
  display: flex;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

@media (max-width: 767px) {
  .flex-sm-half {
    flex-basis: 50%;
  }
}

.flex-col {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media (max-width: 767px) {
  .flex-col .flex-sm-half {
    flex-basis: 50%;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.flex-center-x {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-end-x {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-col-end {
  align-self: flex-end;
}

.flex-center-y {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-start-x {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-basis-auto {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.flex-grow-0 {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.xs-flex-top {
  /* <= 768px */
}

@media (max-width: 767px) {
  .xs-flex-top {
    align-self: self-start;
  }
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.no-pd {
  padding: 0;
}

.no-mgb {
  margin-bottom: 0px;
}

.pg-t-b-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.no-pd-bt {
  padding-bottom: 0;
}

.pgb-20 {
  padding-bottom: 20px;
}

.pgt-10 {
  padding-top: 10px;
}

.pgb-200 {
  padding-bottom: 200px;
}

.pgt-160 {
  padding-top: 160px;
}

.pgt-180 {
  padding-top: 180px;
}

.pgb-100 {
  padding-bottom: 100px;
}

.pgb-80 {
  padding-bottom: 80px;
}

.pgt-80 {
  padding-top: 80px;
}

.pgb-115 {
  padding-bottom: 115px;
}

.pgt-115 {
  padding-top: 115px;
}

.pgb-135 {
  padding-bottom: 135px;
}

.pgt-135 {
  padding-top: 135px;
}

.pgb-170 {
  padding-bottom: 170px;
}

.pgt-150 {
  padding-top: 150px;
}

.pgb-150 {
  padding-bottom: 150px;
}

.pgb-60 {
  padding-bottom: 60px;
}

.pgt-60 {
  padding-top: 60px;
}

.pgt-200 {
  padding-top: 200px;
}

.pgt-35 {
  padding-top: 35px;
}

.pgb-35 {
  padding-bottom: 35px;
}

.mgt-60 {
  margin-top: 60px;
}

.mgb-60 {
  margin-bottom: 60px;
}

.mgt-120 {
  margin-top: 120px;
}

.mgb-120 {
  margin-bottom: 120px;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.bg-color {
  background-color: #fff;
}

.bg-color--white {
  background-color: #fff;
}

.bg-color--almostwhite {
  background-color: #fcfcfc;
}

.bg-color--dark {
  background-color: #0a0a0a;
}

.bg-color--grey {
  background-color: #efefef;
}

/* style row and columns */
.row.gutter-0 {
  margin-right: 0;
  margin-left: 0;
}

.row.gutter-0 > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.custom-height-container {
  padding-top: 300px;
  padding-bottom: 230px;
}

.custom_width {
  /* >= 768px */
  /* >= 992px */
  /* >= 1200px */
}

@media (min-width: 768px) {
  .custom_width {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .custom_width {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .custom_width {
    width: 1170px;
  }
}

@media (min-width: 1290px) {
  .custom_width {
    width: 1260px;
  }
}

@media (min-width: 1550px) {
  .container--delivery {
    width: 1520px;
  }
}

.cont-width-94 {
  width: 94%;
  /* <= 768px */
}

@media (max-width: 767px) {
  .cont-width-94 {
    margin: 0 auto;
  }
}

.col-50 {
  width: 50%;
  float: left;
  /* <= 768px */
}

@media (max-width: 767px) {
  .col-50 {
    width: 100%;
  }
}

.about-col__wrapper {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  padding-left: calc((100vw - 1170px) / 2);
}

.col-wrapper-img {
  /* <= 768px */
}

@media (max-width: 767px) {
  .col-wrapper-img {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
  }
}

.col-wrapper {
  width: 100%;
}

.col-wrapper--mgright {
  /* >= 768px */
}

@media (min-width: 768px) {
  .col-wrapper--mgright {
    width: 100%;
    margin-left: 16%;
  }
}

.image-box-img {
  margin: 0 auto;
  border-radius: 10px;
  /* <= 768px */
}

@media (max-width: 767px) {
  .image-box-img {
    margin-bottom: 25px;
  }
}

.image-cover-fit {
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}

.section-delivery {
  z-index: 1;
  height: 580px;
  /* <= 768px */
}

@media (max-width: 767px) {
  .section-delivery {
    height: 775px;
  }
}

.img-wrapper-margin {
  margin-bottom: -80px;
  /* <= 768px */
}

@media (max-width: 767px) {
  .img-wrapper-margin {
    margin-bottom: 20px;
  }
}

.spacer-160 {
  height: 160px;
  /* <= 768px */
}

.spacer-70 {
  height: 70px;
  /* <= 768px */
}


@media (max-width: 767px) {
  .spacer-160 {
    height: 80px;
  }
}

.spacer-65 {
  margin-bottom: 65px;
}

.spacer-100 {
  height: 100px;
  /* <= 768px */
}

@media (max-width: 767px) {
  .spacer-100 {
    display: none;
  }
}

#about {
  /* <= 768px */
}

@media (max-width: 767px) {
  #about {
    padding-top: 60px;
  }
}

/* style location section*/
#location {
  margin-bottom: -10px;
}

iframe {
  border: 0 !important;
  width: 100%;
  height: 600px;
}

/** All header code will be placed here */
/* header container */
.container.siteheader-container {
  /* <= 768px */
}

@media (max-width: 767px) {
  .container.siteheader-container {
    width: 100%;
  }
}

.site-header {
  position: absolute;
  width: 100%;
  z-index: 3;
  /* <= 768px */
  /* <= 480px */
  /* <= 768px */
}

@media (max-width: 767px) {
  .site-header {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
  }
}

@media (max-width: 479px) {
  .site-header {
    position: relative;
    height: auto;
  }
}

@media (max-width: 767px) {
  .site-header {
    background: rgba(0, 0, 0, 0.5);
  }
  .site-header .site-logo {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .site-header .sh-component li .cart-button .cart-icon--dark svg {
    fill: #fff;
  }
}

.site-header .site-header-main {
  height: 190px;
  /* <= 768px */
}

@media (max-width: 767px) {
  .site-header .site-header-main {
    height: auto;
    position: relative;
  }
}

/*general header style for desktop */
/* >= 768px */
@media (min-width: 768px) {
  .site-header {
    background-color: rgba(255, 255, 255, 0);
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
  }
  .site-header.site-header--absolute.header--sticky {
    position: fixed;
  }
  .ph__ctaButton.sh-component {
    margin-left: 30px;
    margin-right: 20px;
  }
  /* create dark class for header */
  .site-header.header--dark {
    background-color: rgba(22, 22, 22, 0.6);
  }
  .site-header.header--dark .main-menu-wrapper .sh__hamburger-trigger span {
    background: white;
  }
  .site-header.header--dark .btn {
    background: none;
    color: white;
    transition: 0.1s ease-in-out;
  }
  .site-header.header--dark .btn span {
    color: white;
  }
  /* create light class for header */
  .site-header.header--light {
    background-color: #fff;
  }
  .site-header.header--light .main-menu-wrapper .sh__hamburger-trigger span {
    background: #333;
  }
  .site-header.header--light .sh-component li .cart-icon {
    top: 6px;
  }
  .site-header.header--light .sh-component li .cart-icon svg {
    fill: #333;
  }
  .site-header.header--sticky {
    width: 100%;
    z-index: 9;
    will-change: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
  }
  /*style when header is sticked */
  .header--is-sticked {
    background: rgba(0, 0, 0, 0.5);
    /* >= 768px */
    /* sticky menu items */
    /* images tranzition*/
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .header--is-sticked {
    height: auto;
    position: fixed;
  }
}

@media (min-width: 768px) {
  .header--is-sticked .site-header-main {
    height: 198px;
  }
  .header--is-sticked .container.siteheader-container {
    height: 60px;
  }
  .header--is-sticked .main-menu-wrapper {
    /* >= 768px */
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .header--is-sticked .main-menu-wrapper {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .header--is-sticked .ph__mainMenu li a {
    line-height: 80px;
  }
  .header--is-sticked .ph__menu-link.logo-link {
    margin-left: 0px;
    margin-right: 0px;
  }
  .header--is-sticked .sh-component .btn {
    padding: 10px 20px;
  }
  .header--is-sticked .site-logo-img-sticky {
    opacity: 1 !important;
    transform: translateX(-50%) translateY(-50%) !important;
  }
  .header--is-sticked .site-logo-img-sticky .cls-1 {
    fill: #fff;
    fill-rule: evenodd;
  }
  .header--is-sticked .site-logo-img {
    opacity: 0 !important;
    transition: opacity .15s ease-in-out;
  }
  .header--is-sticked .topbar-full {
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* create light class for header */
.site-header.header--light {
  background-color: #fff;
}

.site-header.header--light .main-menu-wrapper .sh__hamburger-trigger span {
  background: #333;
}

.site-header.header--light .sh-component li .cart-icon {
  top: 6px;
}

.site-header.header--light .sh-component li .cart-icon svg {
  fill: #333;
}

/* images when top bar sticked*/
.header--sticky .site-logo-img-sticky {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%) translateY(0);
  transition: opacity .15s ease-in-out,transform .15s ease-in-out;
  backface-visibility: hidden;
}

.header--sticky .site-logo-img-sticky + .site-logo-img {
  opacity: 1 !important;
  transition: opacity .15s ease-in-out;
  max-width: 100%;
  max-height: 84px;
  width: auto;
  height: 100%;
}

.header--not-sticked {
  position: relative;
}

.header--not-sticked .main-menu-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* <= 768px */
}

@media (max-width: 767px) {
  .header--not-sticked .main-menu-wrapper {
    flex-direction: column;
    align-items: flex-end;
  }
}

.logo-container {
  /* <= 768px */
}

@media (max-width: 767px) {
  .logo-container {
    width: 100%;
    text-align: center;
  }
}

.site-logo {
  width: 100%;
  margin: 0;
  display: table;
  /* <= 768px */
}

@media (max-width: 767px) {
  .site-logo {
    width: 100%;
    height: auto;
    min-height: 0 !important;
    max-height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.site-logo-anch {
  padding: 0;
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
  /* <= 768px */
}

@media (max-width: 767px) {
  .site-logo-anch {
    background: none !important;
    border: none !important;
    padding: 0 !important;
  }
}

/* header responsive menu */
.ph__resMenu {
  padding: 0;
  margin: 0;
  list-style: none;
  right: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform .5s ease;
  z-index: 10000;
  transform: translateX(100%);
  transform-style: preserve-3d;
  /* >= 768px */
}

@media (min-width: 768px) {
  .ph__resMenu {
    max-width: 400px;
  }
}

.ph__resMenu li {
  backface-visibility: hidden;
  border-color: rgba(0, 0, 0, 0.15);
  position: static;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.ph__resMenu li.ph__resMenu-back .ph__resMenu-backLink {
  font-size: 14px;
  padding: 7px 28px 7px;
  display: block;
  font-weight: 400;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.45);
  text-align: center;
  text-transform: capitalize;
}

.ph__resMenu li.ph__resMenu-back .ph__resMenu-backLink:hover {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
}

.ph__resMenu li.ph__resMenu-back .ph__resMenu-backIcon {
  left: 0;
  right: auto;
  border-left: none;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  position: absolute;
  width: 49px;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.45);
  top: 0;
}

.ph__resMenu li a {
  padding: 7px 28px 7px;
  display: block;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.45);
  font-size: 13px;
}

.ph__resMenu li a.active {
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.85);
}

.ph__resMenu li a:hover {
  color: rgba(0, 0, 0, 0.85);
}

.ph__resMenu.ph__menu--visible {
  transform: translateZ(0);
  display: block;
}

/* Main menu block */
.ph__menuWrapper .ph__mainMenu-trigger {
  /* >= 1200px */
}

.ph__menuWrapper .ph__mainMenu-trigger .ph__menuBurger {
  width: 20px;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  height: 22px;
  margin-right: 10px;
  transform: rotate(0deg);
  transition: .2s ease-out;
  cursor: pointer;
  opacity: .8;
}

.ph__menuWrapper .ph__mainMenu-trigger .ph__menuBurger span {
  height: 3px;
  background: rgba(255, 255, 255, 0.85);
  display: block;
  position: absolute;
  width: 100%;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.ph__menuWrapper .ph__mainMenu-trigger .ph__menuBurger span:first-child {
  top: 0;
}

.ph__menuWrapper .ph__mainMenu-trigger .ph__menuBurger span:nth-child(2) {
  top: 6px;
}

.ph__menuWrapper .ph__mainMenu-trigger .ph__menuBurger span:nth-child(3) {
  top: 12px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .ph__menuWrapper .ph__mainMenu-trigger .ph__menuBurger span {
    background: #fff;
  }
}

@media (min-width: 1200px) {
  .ph__menuWrapper .ph__mainMenu-trigger {
    display: none;
  }
}

.ph__mainMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  /* <= 992px */
}

@media (max-width: 991px) {
  .ph__mainMenu {
    display: none;
  }
}

.ph__mainMenu li {
  float: left;
  position: relative;
  margin-left: 2px;
  margin-right: 2px;
}

.ph__mainMenu li:first-child {
  margin-left: 0;
}

.ph__mainMenu li a {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  line-height: 104px;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: padding .2s ease-in-out,-webkit-transform .2s ease-in-out;
  transition: padding .2s ease-in-out,transform .2s ease-in-out;
  transition: padding .2s ease-in-out,transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 6px 12px;
}

/*.ph__mainMenu li a:hover {
  text-decoration: none;
  color: #fff;
}*/

.img-loaded.site-logo-anch {
  max-width: 1000px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  transition: all .15s ease-out;
}

.ph__menu-link.logo-link {
  margin-left: 40px;
  margin-right: 40px;
}

.ph-subheader {
  background-image: url(slide1.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
}

.ph-subheader--light {
  background: #fff;
  background-image: none;
  color: #333;
  position: relative;
}

.ph-subheader--bg {
  height: 300px;
}

.ph-subheader__container {
  width: 100%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  padding-top: 70px;
}

.ph-subheader:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(20, 20, 20, 0.3);
}

.ph__menu-link.active span, .ph__contact.active span {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
  color: #fff;
}

.home-slide-content {
  text-align: center;
  margin: 0 auto;
  color: #fff;
  z-index: 2;
}

/* top bar */
.topbar-full {
  width: 100%;
  padding: 0;
  /* >= 768px */
}

@media (min-width: 768px) {
  .topbar-full {
    opacity: 1;
    transition: height .2s ease-out,opacity .2s ease-out;
    padding: 10px 0;
  }
}

.topbar-full__wrapper {
  height: auto;
}

.topbar--left {
  padding-left: 20px;
  /* <= 768px */
}

@media (max-width: 767px) {
  .topbar--left {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.topbar--right {
  padding-right: 20px;
  /* <= 768px */
}

@media (max-width: 767px) {
  .topbar--right {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.topnav {
  list-style-type: none;
  position: relative;
  padding: 0;
  margin: 0 20px 0 0;
  /* <= 768px */
  /* language list*/
}

@media (max-width: 767px) {
  .topnav {
    margin: 10px;
  }
}

.topnav__item {
  float: left;
  position: relative;
}

.topnav--lang {
  margin: 0 15px 0 0;
  /* <= 768px */
}

@media (max-width: 767px) {
  .topnav--lang {
    margin: 10px;
    margin-left: 0;
  }
}

.topnav--lang__item {
  position: relative;
}

.topnav--lang__item:hover .topnav-drop-panel {
  opacity: 1;
  height: auto;
  visibility: visible;
}

.flag-image {
  opacity: 1;
}

.flag-image--dropdown {
  margin-right: 5px;
}

.linkitem--dropdown {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 24px;
  display: block;
  padding: 0;
  opacity: .8;
  /* <= 768px */
}

.linkitem--dropdown:hover {
  opacity: 1;
  color: #333;
}

.linkitem--dropdown:visited, .linkitem--dropdown:visited span, .linkitem--dropdown:hover span {
  color: #333;
}

.flag-lang {
  text-transform: uppercase;
  display: inline-block;
  margin-right: 3px;
  margin-left: 2px;
  vertical-align: middle;
}

/* dropdown language panel */
.topnav-drop-panel {
  position: absolute;
  left: 0;
  width: auto;
  min-width: 120px;
  height: 0;
  opacity: 0;
  visibility: hidden;
  margin-left: -11px;
  right: 0;
  z-index: 101;
}

.drop-panel-inner {
  margin: 4px;
  list-style: none;
  background: #f5f5f5;
  padding: 10px 0px;
  margin-top: 5px;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}

.drop-panel-inner__item a {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  color: #444;
  padding: 0 5px 0 10px;
  display: block;
  text-transform: uppercase;
  margin-top: 1px;
  padding-right: 10px;
  font-weight: 700;
}

.drop-panel-inner__item a:hover {
  color: #000;
  background: rgba(0, 0, 0, 0.1);
}

.call-to-action--phone {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 24px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  /* <= 768px */
}

@media (max-width: 767px) {
  .call-to-action--phone {
    margin: 10px;
  }
}

/* search*/
.header-search {
  z-index: 100;
  margin-right: 0;
  /* <= 768px */
  /* >= 768px */
}

@media (max-width: 767px) {
  .header-search {
    margin: 10px;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .header-search {
    position: relative;
  }
}

.search-btn {
  display: inline-block;
  z-index: 1;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  margin: 0;
  /* <= 768px */
}

@media (max-width: 767px) {
  .search-btn {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    color: #fff;
  }
}

.search-btn:hover, .search-btn:focus, .search-btn:visited {
  color: #333;
  /* <= 768px */
}

@media (max-width: 767px) {
  .search-btn:hover, .search-btn:focus, .search-btn:visited {
    color: #fff;
  }
}

.search-btn.active {
  position: absolute;
  right: 3px;
  top: 0;
  opacity: .5;
  /* <= 768px */
}

@media (max-width: 767px) {
  .search-btn.active {
    color: #333;
    position: relative;
    opacity: .9;
    background: #f4f4f4;
  }
}

.search-container {
  display: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  margin-top: -2px;
  /* <= 768px */
}

@media (max-width: 767px) {
  .search-container {
    position: absolute;
    right: 0;
    padding: 30px;
    background: #f4f4f4;
    width: 100%;
    border-bottom: 1px solid #fff;
    z-index: 1;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    border-width: 0;
  }
}

.search-container.opened {
  display: block;
  width: 200px;
  /* <= 768px */
}

@media (max-width: 767px) {
  .search-container.opened {
    width: 100%;
    top: 40px;
  }
}

.gensearch__form {
  margin: 0 30px 0 15px;
  position: relative;
  /* <= 768px */
}

@media (max-width: 767px) {
  .gensearch__form {
    border-bottom: 1px solid #ccc;
    margin: 0;
    position: relative;
  }
}

.gensearch__input {
  background: none;
  border: none;
  font-size: 12px;
  font-style: italic;
  padding: 5px 0;
  margin: 0;
  display: inline-block;
  box-shadow: none;
  outline: none;
  height: 32px;
  width: 100%;
  /* <= 768px */
}

@media (max-width: 767px) {
  .gensearch__input {
    background: none !important;
    border: none;
    font-size: 12px;
    color: #444 !important;
    padding: 5px 0;
    margin: 0;
    display: inline-block;
    box-shadow: none;
    outline: none;
    font-style: italic;
    width: calc(100% - 30px);
    height: 42px;
  }
}

.gensearch__submit {
  display: none;
  position: absolute;
  right: 0;
  border: 0;
  color: #bbb;
  background-color: transparent;
  outline: none;
  height: 100%;
  padding: 0 20px;
  font-size: 12px;
  transition: color .2s ease-in-out;
  /* <= 768px */
}

@media (max-width: 767px) {
  .gensearch__submit {
    width: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    position: absolute;
    right: 5px;
    left: auto;
    top: 50%;
    margin-top: -8px;
    outline: none;
    color: rgba(107, 107, 107, 0.4);
  }
}

.gensearch__submit:after {
  content: "";
  width: 1px;
  height: 24px;
  background-color: #ddd;
  display: block;
  left: 0;
  margin-left: -10px;
  position: absolute;
  top: 50%;
  margin-top: -12px;
}

.search-close {
  display: none;
}

.search-close.active {
  display: block;
}

.search-active {
  display: block;
}

.search-active.remove {
  display: none;
}

/* responsiveness for mobile header */
.site-header-col-left, .site-header-main-right {
  opacity: 1;
  visibility: visible;
  /* >= 1200px */
}

@media (min-width: 1200px) {
  .site-header-col-left, .site-header-main-right {
    display: none;
  }
}

.site-header-main-center {
  /* <= 1200px */
}

@media (max-width: 1199px) {
  .site-header-main-center {
    display: none;
  }
}

.signin-icon {
  /* >= 992px */
}

@media (min-width: 992px) {
  .signin-icon {
    display: none;
  }
}

/** All footer code will be placed here */
.footer-social {
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
}

.footer-social__item {
  margin: 5px 3px;
  display: inline-block;
  position: relative;
}

.footer-social__item a {
  padding: 22px;
  text-align: center;
  display: block;
  color: #666;
}

.footer-social__item a:hover {
  color: #666;
}

.footer-wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.footer-nav {
  margin-bottom: 20px;
  padding: 0;
  list-style-type: none;
  /* <= 768px */
}

@media (max-width: 767px) {
  .footer-nav {
    text-align: center;
  }
}

.footer-nav__item {
  display: inline-block;
  margin: 0 10px;
  position: relative;
  /* <= 768px */
}

.footer-nav__item a {
  font-size: 11px;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-nav__item a:hover {
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 767px) {
  .footer-nav__item {
    display: block;
  }
}

/*** Pages ***/
/*** Elements ***/
.totop {
  height: 9px;
  opacity: 0;
  position: fixed;
  right: 10px;
  width: 49px;
  z-index: 999;
  display: block;
  top: 85%;
  background-repeat: no-repeat;
  background-position: center 15px;
  background-color: #404040;
  font-size: 9px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  line-height: 1;
  border-radius: 2px;
  padding: 10px 0 39px;
  transition: all .2s ease-out;
}

.totop:hover, .totop:visited, .totop:focus {
  opacity: 1;
  color: #fff;
}

.totop-vissible {
  opacity: 0.7;
}

.totop-text {
  margin-top: 10px;
}

.mfp-iframe-holder .mfp-content--login {
  margin: 0 auto;
  text-align: center;
  width: 440px;
  height: 480px;
  box-shadow: 0 0 20px #000;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  /* <= 768px */
}

@media (max-width: 767px) {
  .mfp-iframe-holder .mfp-content--login {
    width: 340px;
  }
}

.mfp-iframe-holder .mfp-content--login .mfp-iframe {
  width: 100%;
  height: 100%;
}

.mfp-iframe-holder .mfp-close {
  top: 0;
  right: 15px;
  color: grey;
  opacity: .65;
}

.mfp-iframe-holder .mfp-close:hover {
  opacity: 1;
}

.body--login {
  background: #ededed;
}

.page-wrapper--login {
  padding: 50px;
}

#login-form {
  margin-bottom: 20px;
}

.form-control--fancy {
  border-radius: 0px;
  padding: 26px 16px 6px;
  height: auto;
  width: 100%;
}

.form-control--fancy:focus {
  border-color: rgba(0, 0, 0, 0.26);
  box-shadow: inherit;
}

.fancy-form-label {
  font-family: "Montserrat", sans-serif;
  color: #969696;
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  top: 6px;
  left: 16px;
  cursor: text;
  transition: all .25s ease;
}

.form-group {
  position: relative;
}

.remember-popup {
  margin: 0 0 20px;
  display: block;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 11px;
  text-shadow: none;
}

.remember-popup .checkbox--fancy {
  float: left;
  margin-right: 2px;
  margin-top: 2px;
}

.auth_link {
  font-size: 11px;
  font-weight: 400;
  color: #898989;
  font-size: 10px;
  font-weight: 600;
}

.auth_link:hover {
  color: #585858;
}

.title--popup {
  font-size: 16px;
}

.txt-light {
  color: #fff;
}

.txt-dark {
  color: #333;
}

.txt-black {
  color: #0a0a0a;
}

.txt-color {
  color: #cca300;
}

.home-subheading {
  font-size: 18px;
  font-weight: 300;
}

.title-block {
  margin-bottom: 25px;
}

.title-block__title {
  font-family: "Amatic SC", cursive;
  font-size: 66px;
  line-height: 68px;
  font-weight: 700;
  letter-spacing: 20px;
  margin-bottom: 20px;
}

.title-block__title--specialty {
  font-weight: 400;
  /* <= 768px */
}

@media (max-width: 767px) {
  .title-block__title--specialty {
    letter-spacing: 10px;
  }
}

.title-block__title--about {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 25px;
}

.title-block__title--menu {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 5px;
}

.title-block__title--delivery {
  margin-top: 0;
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 25px;
}

.title-block__title--reservation {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

.title-block__subtitle {
  font-size: 18px;
  line-height: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.title-block__subtitle--about {
  font-size: 16px;
  padding-bottom: 20px;
}

.title-block__subtitle--menu {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #ccc;
  text-transform: uppercase;
}

.title-block__subtitle--reservation {
  font-weight: 700;
  margin-bottom: 30px;
}

.newsletter {
  padding-bottom: 25px;
  width: 50%;
  margin: 0 auto;
  /* <= 768px */
}

@media (max-width: 767px) {
  .newsletter {
    width: 100%;
  }
}

.newsletter-form {
  border-radius: 4px;
  position: relative;
  margin-bottom: 30px;
}

.nwl-input {
  width: calc(100% - 148px);
  height: 58px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  margin-right: 10px;
  border-radius: 0;
  padding-left: 20px;
  -webkit-transition: padding-left .15s ease-out;
  transition: padding-left .15s ease-out;
  float: left;
  /* <= 768px */
}

@media (max-width: 767px) {
  .nwl-input {
    width: calc(100% - 150px);
  }
}

.nwl-input:focus {
  padding-left: 30px;
  outline: 0;
}

.nwl-input::placeholder {
  color: #fff;
  font-size: 14px;
}

.nwl-input:-ms-input-placeholder {
  color: #fff;
}

.nwl-buton {
  width: 138px;
  height: 58px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  -webkit-appearance: button;
  cursor: pointer;
  border: 0;
  vertical-align: middle;
  outline: 0;
  margin: 0;
  top: 0;
}

.nwl-buton.btn--color:hover {
  background: #fc0;
}

.price-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.price-list__item {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}

.price-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.price-item__heading {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.price-item__separator {
  background-image: -webkit-radial-gradient(circle closest-side, rgba(0, 0, 0, 0.2) 99%, transparent 1%);
  background-image: radial-gradient(circle closest-side, rgba(0, 0, 0, 0.2) 99%, transparent 1%);
  background-position: bottom;
  background-size: 5px 3px;
  background-repeat: repeat-x;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-left: 3px;
  margin-right: 5px;
  margin-bottom: calc((28px - 10px)/2);
}

.price-item__price {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #cca300;
  text-align: right;
  margin: 0;
  line-height: 30px;
}

.iconbox-black {
  color: #555;
}

.iconbox-white {
  color: #fff;
}

.ph-iconbox {
  text-align: center;
  margin-bottom: 30px;
}

.ph-iconbox__icon-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.ph-iconbox__icon {
  background-color: #111;
  font-size: 80px;
  padding: 100px;
  color: #fc0;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}

.ph-iconbox__icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  line-height: 1;
}

.ph-iconbox__icon:after {
  background-color: #111;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-property: opacity,-webkit-transform;
  transition-property: transform,opacity;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.ph-iconbox__title {
  font-family: "Amatic SC", cursive;
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  color: #0a0a0a;
  letter-spacing: 3px;
}

.ph-iconbox__desc-wrapper {
  margin-bottom: 20px;
}

.ph-iconbox__desc {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
}

.ph-iconbox--phone__icon-wrapper {
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
  float: left;
  margin-right: 20px;
  margin-bottom: 15px;
}

.ph-iconbox--phone__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #0a0a0a;
  font-size: 16px;
}

.ph-iconbox:hover__icon {
  color: #fc0;
}

.ph-iconbox--phone:hover a {
  color: #cd2122;
}

.ph-iconbox:hover .ph-iconbox__icon:after {
  -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  background-color: #111;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  opacity: 1;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  padding: 20px 30px;
  letter-spacing: 1px;
  transition: background-color .15s ease-out;
  border-radius: 0px;
  margin-bottom: 30px;
}

.btn--round {
  border-radius: 3px;
}

.btn--line {
  border: 2px solid #242424;
  padding: 18px 30px;
}

.btn--line:hover {
  color: #000;
}

.btn--black {
  background: #000;
  color: #fff;
  letter-spacing: 0px;
}

.btn--black:hover {
  background-color: #000;
  color: #fff;
}

.btn--color {
  background: #fc0;
  color: #fff;
}

.btn--color:hover {
  background: #cca300;
  color: #fff;
}

.btn--hover {
  background: #fc0;
  color: #fff;
}

.btn--hover:hover {
  background: #000;
  color: #fff;
}

.btn--md {
  padding: 16px 25px;
  font-size: 14px;
  line-height: 1.3333333;
}

.btn--font-big {
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
}

.btn--section {
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0px;
}

.btn--forth {
  /* >= 1200px */
}

@media (min-width: 1200px) {
  .btn--forth {
    width: 25%;
  }
}

.btn--35 {
  /* >= 1200px */
}

@media (min-width: 1200px) {
  .btn--35 {
    width: 35%;
  }
}

.btn--65 {
  /* >= 1200px */
}

@media (min-width: 1200px) {
  .btn--65 {
    width: 65%;
  }
}

.btn--50 {
  /* >= 1200px */
}

@media (min-width: 1200px) {
  .btn--50 {
    width: 50%;
  }
}

.btn--30 {
  /* >= 1200px */
}

@media (min-width: 1200px) {
  .btn--30 {
    width: 30%;
  }
}

.btn--40 {
  /* >= 1200px */
}

@media (min-width: 1200px) {
  .btn--40 {
    width: 40%;
  }
}

.btn:active, .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn:focus, .btn:visited, .btn:hover {
  outline: 0;
}

.paraxify {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.specialities {
  position: relative;
  overflow: hidden;
  height: 500px;
  /* >= 1200px */
}

@media (min-width: 1200px) {
  .specialities {
    height: 330px;
  }
}

.delivery:after, .tasty:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(53, 53, 53, 0.6);
}

.specialities:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.delivery {
  position: relative;
  overflow: hidden;
  height: 500px;
  /* >= 1200px */
}

@media (min-width: 1200px) {
  .delivery {
    height: 600px;
  }
}

.tasty {
  position: relative;
  overflow: hidden;
  height: 500px;
  /* >= 1200px */
}

@media (min-width: 1200px) {
  .tasty {
    height: 600px;
  }
}

.paral-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}

.paral_container {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  z-index: 3;
  margin: 0 auto;
}

/*# sourceMappingURL=source-maps/template.css.map */
