
/*@font-face {
    font-family: 'icomoon';
    src: asset_url('fonts/icomoon.eot?1y3jw3');
    src: asset_url('fonts/icomoon.eot?1y3jw3#iefix') format('embedded-opentype'),
         asset_url('fonts/icomoon.ttf?1y3jw3') format('woff'),
         asset_url('fonts/icomoon.woff?1y3jw3') format('truetype'),
         asset_url('fonts/icomoon.svg?1y3jw3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-header-main-wrapper{margin-bottom: 16px;}
.top-silder{margin-top: 75px;}
.icon-People:before {
  content: "\e900";
}
.icon-BirthdayCake:before {
  content: "\e901";
}
.icon-Bowtie:before {
  content: "\e902";
}
.paraxify {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.product-data{
  height: 430px;
}
.main-product-img { width: 75% !important;}
.product-label{    border: 1px solid;
    padding: 10px;
    border-radius: 6px;
    font-size: 20px;}
.product1-label{margin-left:202px; margin-bottom: 12px;  }
.product2-label{margin-left:460px; margin-bottom: 12px; }
.mt-10{ margin-top: 10px; }
.mt-50{ margin-top: 50px; }
.mt-30{ margin-top: 30px; }
.mb-10{ margin-bottom: 10px; }
.mb-20{ margin-bottom: 20px; }
.mb-50{ margin-bottom: 50px; }
.ready-to-eat{ text-align: center; }
.br-bottom { border-bottom: 1px solid #ddd; }
#header{background-color: black;}
li:hover { background-color: black; }
li.img-loaded{ background-color: transparent; }
.top-silder .carousel-inner .item img{ width: 1284px; height: 550px; }
.contact-us-btn{
    
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}
.product-dropdown{ width: 13%; }
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 215px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  /*padding: 12px 16px;*/
  text-decoration: none;
  display: block;
  background-color: black;
  margin-top: 15px;
}

.dropdown-content a:hover {background-color: lightslategrey}
.dropdown:hover .dropdown-content { display: block; margin-top: -4px;}
a.product-link{ margin-top: 0px; height: 65px;}