<section id="about" class="bg-color--white">
		  <div class="row no-gutters">
				<div class="col-12 col-sm-8 align-self-center">
						<div class="about-col__wrapper">
							<div class="cont-width-94">
								<div class="title-block">
									<h2 class="title-block__title--about">Herb Potato Patty
									</h2>
									<p class="title-block__subtitle--about ">These are the nuclei component of the famous fast food, Burgers. We, at IBF just don’t leave it to the salads and sauce combinations to do the taste bud tickling in a burger.

									We have gone an extra mile to amalgamate the freshness of our potatoes with perfectly aromatic herbs and spices, bringing to you our revolutionary ‘Herb Potato Patty..</p>
								</div>
								<a href="#" class="btn btn--line btn--30 btn--section">Read more </a>
							</div>
					</div>
				</div>
				<div class="col-12 col-sm-4 align-self-center">
					<div class="col-wrapper-img">
						<%= image_tag "Product-1", class: 'img-fluid image-cover-fit image-box-img' %>
						<!-- <img src="https://demos.hogash.com/phaeton-restaurant-html/images/about-chefs.jpg" class="img-fluid image-cover-fit image-box-img" alt="" title="about-chefs"> -->
					</div>
				</div>
			</div>
		</section>