
<section id="about" class="bg-color--white">
  <div class="row no-gutters">
		<div class="col-12 col-sm-8 align-self-center">
				<div class="about-col__wrapper">
					<div class="cont-width-94">
						<div class="title-block">
							<h2 class="title-block__title--about">Extrusion Grade Potato Flakes
							</h2>
							<p class="title-block__subtitle--about ">The choice of savoury makers. We customise products in this category to fit the kind of extrusion the customer is performing. Let us know your product and we promise you a best suit.</p>
						</div>
						<a href="#" class="btn btn--line btn--30 btn--section">Read more </a>
					</div>
			</div>
		</div>
		<div class="col-12 col-sm-4 align-self-center">
			<div class="col-wrapper-img">
				<%= image_tag "Potato-Flakes5", class: 'img-fluid image-cover-fit image-box-img' %>
				<!-- <img src="https://demos.hogash.com/phaeton-restaurant-html/images/about-chefs.jpg" class="img-fluid image-cover-fit image-box-img" alt="" title="about-chefs"> -->
			</div>
		</div>
	</div>
</section>