<section id="about" class="bg-color--white">
  <div class="row no-gutters">
		<div class="col-12 col-sm-8 align-self-center">
				<div class="about-col__wrapper">
					<div class="cont-width-94">
						<div class="title-block">
							<h2 class="title-block__title--about">Straight Cut 6x6mm French Fries
							</h2>
							<p class="title-block__subtitle--about ">Living upto the expectations that encompass this segment, we bring in a new touch to this variety of fries. IBF premium high solid fries not only guarantee crispiness and good holding times but are mealy as well. This segment of ours will offer increased pouch yield and better plate coverage establishing satisfied customers and delighted QSR partners..</p>
						</div>
						<a href="#" class="btn btn--line btn--30 btn--section">Read more </a>
					</div>
			</div>
		</div>
		<div class="col-12 col-sm-4 align-self-center">
			<div class="col-wrapper-img">
				<%= image_tag "french-fries", class: 'img-fluid image-cover-fit image-box-img' %>
				<!-- <img src="https://demos.hogash.com/phaeton-restaurant-html/images/about-chefs.jpg" class="img-fluid image-cover-fit image-box-img" alt="" title="about-chefs"> -->
			</div>
		</div>
	</div>
</section>