<section id="about" class="bg-color--white">
  <div class="row no-gutters">
		<div class="col-12 col-sm-8 align-self-center">
				<div class="about-col__wrapper">
					<div class="cont-width-94">
						<div class="title-block">
							<h2 class="title-block__title--about">Chilly Garlic Potato Shots
							</h2>
							<p class="title-block__subtitle--about ">
								The goodness of potatoes seasoned with the perfect dash of spice and garlic. This sinfully flavoursome filling is enveloped in golden, crunchy layer to bring you the very zesty and delicious Chilly Garlic Potato Shots! A total earner of ‘Repeat Please!</p>
						</div>
						<a href="#" class="btn btn--line btn--30 btn--section">Read more </a>
					</div>
			</div>
		</div>
		<div class="col-12 col-sm-4 align-self-center">
			<div class="col-wrapper-img">
				<%= image_tag "chilly_garlic", class: 'img-fluid image-cover-fit image-box-img' %>
				<!-- <img src="https://demos.hogash.com/phaeton-restaurant-html/images/about-chefs.jpg" class="img-fluid image-cover-fit image-box-img" alt="" title="about-chefs"> -->
			</div>
		</div>
	</div>
</section>