</div>
<div class="col-md-12" id="frozen_food">
  <h1 class="ready-to-eat">FROZEN VEGETABLES</h1>
  <div class="well">
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <!--/item-->
        <div class="item">
          <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div align="center">
              	<%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%>
              	<br>
                <div class="product-caption">Green Peas</div>
                 </div>
            </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Green Chholiya</div>
               </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Garlic</div>
               </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Sweet Corn</div>
               </div>
          </div>
          <!--/row-->
        </div>
        <!--/item-->
        <div class="item">
          <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div align="center"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
                <div class="product-caption">Baby Corn</div>
                 </div>
            </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Aloo Gobhi</div>
               </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Aloo Gobhi Matar</div>
               </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Mixed Veg 4 Ways</div>
               </div>
          </div>
          <!--/row-->
        </div>
        <div class="item active">
          <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div align="center">
              	<%= image_tag "peas.jpg", class: 'img-fluid image-box-img'%><br>
                <div class="product-caption">Gajar Matar</div>
                 </div>
            </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "chole.jpg", class: 'img-fluid image-box-img'%><br>
              <div class="product-caption">Mix Veg 3 Way</div>
               </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "mix_veg.jpg", class: 'img-fluid image-box-img'%><br>
              <div class="product-caption">Mixed Veg 5 Way</div>
               </div>
            <div class="col-sm-3 col-xs-6"> <%= image_tag "corn.jpg", class: 'img-fluid image-box-img'%><br>
              <div class="product-caption">Taro (Arbi)</div>
               </div>
          </div>
          <!--/row-->
        </div>
        <div class="item">
          <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div align="center"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
                <div class="product-caption">Sweet Potato</div>
                 </div>
            </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Broccoli</div>
               </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Egg-Plant</div>
               </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Pumkin</div>
               </div>
          </div>
          <!--/row-->
        </div>
        <div class="item">
          <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div align="center"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
                <div class="product-caption">Cauliflower</div>
                 </div>
            </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Okra</div>
               </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Potato Random cut</div>
               </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Radish Half Cut</div>
               </div>
          </div>
          <!--/row-->
        </div>
        <div class="item">
          <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div align="center"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
                <div class="product-caption">Cabbage</div>
                 </div>
            </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Spinach Cube</div>
               </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Carrot Julienne</div>
               </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Carrot Dices</div>
               </div>
          </div>
          <!--/row-->
        </div>
        <div class="item">
          <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div align="center"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
                <div class="product-caption">Carrot Stick</div>
                 </div>
            </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Cut/Slant Cut Beans</div>
               </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Leek</div>
               </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Cut Corn</div>
               </div>
          </div>
          <!--/row-->
        </div>
        <!--/item-->
      </div>
      <!--/carousel-inner-->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"><%#= image_tag 'left-but.png'%></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"><%#= image_tag 'right-but.png' %></a> </div>
    <!--/myCarousel-->
  </div>
</div>

<div class="col-md-12" id="ready_to_eat">
  <h1 class="ready-to-eat">READY TO EAT</h1>
  <div class="well">
    <div id="myCarousel1" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <!--/item-->
        <div class="item">
          <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div align="center">
              	<%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%>
              	<br>
                <div class="product-caption">Green Peas</div>
                 </div>
            </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Green Chholiya</div>
               </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Garlic</div>
               </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Sweet Corn</div>
               </div>
          </div>
          <!--/row-->
        </div>
        <!--/item-->
        <div class="item">
          <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div align="center"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
                <div class="product-caption">Baby Corn</div>
                 </div>
            </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Aloo Gobhi</div>
               </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Aloo Gobhi Matar</div>
               </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Mixed Veg 4 Ways</div>
               </div>
          </div>
          <!--/row-->
        </div>
        <div class="item active">
          <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div align="center">
              	<%= image_tag "peas.jpg", class: 'img-fluid image-box-img'%><br>
                <div class="product-caption">Gajar Matar</div>
                 </div>
            </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "chole.jpg", class: 'img-fluid image-box-img'%><br>
              <div class="product-caption">Mix Veg 3 Way</div>
               </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "mix_veg.jpg", class: 'img-fluid image-box-img'%><br>
              <div class="product-caption">Mixed Veg 5 Way</div>
               </div>
            <div class="col-sm-3 col-xs-6"> <%= image_tag "corn.jpg", class: 'img-fluid image-box-img'%><br>
              <div class="product-caption">Taro (Arbi)</div>
               </div>
          </div>
          <!--/row-->
        </div>
        <div class="item">
          <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div align="center"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
                <div class="product-caption">Sweet Potato</div>
                 </div>
            </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Broccoli</div>
               </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Egg-Plant</div>
               </div>
            <div class="col-sm-3 col-xs-6"><%= image_tag "peas.jpg", class: 'img-fluid image-box-img img-responsive'%><br>
              <div class="product-caption">Pumkin</div>
               </div>
          </div>
          <!--/row-->
        </div>
      </div>
      <!--/carousel-inner-->
      <a class="left carousel-control" href="#myCarousel1" data-slide="prev"><%#= image_tag 'left-but.png'%><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel1" data-slide="next"><span class="glyphicon glyphicon-chevron-right"><%#= image_tag 'right-but.png' %></a> </div>
    <!--/myCarousel-->
  </div>
</div>

<style type="text/css">
	#header{ background-color: black;	}
	.carousel-control { width: 5% !important; }
	#page_wrapper{
		background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    position: relative;
    overflow: hidden;
    z-index: 9999999;
		min-height: 35vh;
	}
</style>
<script type="text/javascript">
	$(document).on('ready', function(){
		$('#myCarousel,#myCarousel1').carousel({
  		interval: 5000
  	})
	})
</script>