</div>
<div class="row">
	<div class="col-md-12">
		<%= render 'product_1' if @item.eql?("1") %>
		<%= render 'product_3' if @item.eql?("2")%>
		<%= render 'product_2' if @item.eql?("3")%>
		<%= render 'product_4' if @item.eql?("4")%>
		<%= render 'product_5' if @item.eql?("5")%>
		<%= render 'product_6' if @item.eql?("6")%>
	</div>
</div>
<style type="text/css">
	#header{
		background-color: black;
		/*background: rgba(0, 0, 0, 0.5);*/
	}
	#page_wrapper{
		background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    position: relative;
    overflow: hidden;
    z-index: 99999;
		min-height: 35vh;
	}
</style>