<!DOCTYPE html>
<html>
<head>
  <title>FoodApp</title>
   <link href="//fonts.googleapis.com/css?family=Amatic+SC:400,700%7CMontserrat:400,700%7COpen+Sans:300,400,700%7CRoboto" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page_wrapper">
	<%= render template: "layouts/header"%>
	<%= yield %>
</div>

</body>
</html>
