<ul class="ph__resMenu">
  <li class="ph__resMenu-back">
    <span class="ph__resMenu-backIcon"><i class="fas fa-angle-left"></i></span>
		<a href="#" class="ph__resMenu-backLink">Back</a>
  </li>
  <li><%= link_to "Home", root_path, classs: 'ph__menu-link' %></li>
  <li><%= link_to "About us", homes_about_us_path, classs: 'ph__menu-link' %></li>
  <!-- <li><a class="active" href="index.html#about"><span>About us</span></a></li> -->
  <li><%= link_to "Product", products_path, class: 'ph__menu-link' %></li>
  <li><%= link_to "Careers", homes_careers_path, class: 'ph__menu-link' %></li>
  <li><a class="ph__menu-link" href="index.html#location"><span>sales inquiry</span></a></li>
  <li><a href="index.html#subscribe"><span>Contact Us</span></a></li>
</ul>
<header id="header" class="site-header header--sticky site-header--absolute header--is-sticked">
    <div class="site-header-main-wrapper">
      <div class="container siteheader-container">
					<div class="flex-col flex-basis-auto">
            <div class="flex-row site-header-row site-header-main">
              <!-- left column - logo -->
              <div class="flex-col flex flex-start-x flex-center-y flex-basis-auto flex-grow-0 flex-sm-half site-header-col-left">
                <div class="logo-container">
                    <div class="site-logo">
                        <a href="index.html" class="site-logo-anch">
                            <span class="logo-img-sticky site-logo-img-sticky">
                              <svg xmlns="http://www.w3.org/2000/svg" width="34" height="30" viewBox="0 0 34 30">
                                <path id="Forma_1" data-name="Forma 1" class="cls-1" d="M41.962,13c-1.522-2.569-4.5-4.042-8.159-4.042A11.446,11.446,0,0,0,26.915,11.6a11.626,11.626,0,0,0-8.564-3.589,9.588,9.588,0,0,0-7.99,4.671A7.51,7.51,0,0,0,9.2,18.745c0.949,3.962,4.923,6.906,6.593,7.992v9.805a1.439,1.439,0,0,0,1.428,1.449H36.1a1.438,1.438,0,0,0,1.428-1.449V25.992a8.978,8.978,0,0,0,4.037-3.735C43.349,18.862,43.489,15.573,41.962,13Zm-2.914,7.9c-2.366,4.513-12.461,4.7-16.152,4.385a1.449,1.449,0,0,0-.237,2.887c0.158,0.014,1.235.1,2.812,0.1a33.885,33.885,0,0,0,9.206-1.16V35.1H18.652V25.923a1.453,1.453,0,0,0-.735-1.266c-0.05-.028-5.057-2.9-5.94-6.6a4.633,4.633,0,0,1,.759-3.771A6.808,6.808,0,0,1,18.425,10.9a8.88,8.88,0,0,1,6.354,2.607,24.4,24.4,0,0,0-3.222,4.1,1.46,1.46,0,0,0,.48,1.988A1.417,1.417,0,0,0,24,19.113c0.044-.073,4.428-7.261,9.806-7.261,2.637,0,4.718.962,5.712,2.637S40.338,18.434,39.048,20.9Z" transform="translate(-9 -8)"/>
                              </svg>
                            </span>
                            <%= image_tag "logo.png", style: 'border-radius: 10px;', size: '196X46', class: 'logo-img site-logo-img' %>
                            <!-- <img class="logo-img site-logo-img" src="image/img-assets/logo.png" alt="logo" title="phaeton" width="196" height="36"> -->
                            <%#= image_tag "logo.jpg", size: '196X36', class: 'logo-img site-logo-img' %>
                        </a>
                    </div>
                </div>
              </div>
							<!-- center column - navigation menu -->
							<div class="fxb-col fxb fxb-center-x fxb-center-y fxb-basis-auto site-header-col-center site-header-main-center">
								<ul class="ph__mainMenu clearfix">
                  <li><%= link_to "Home", root_path, classs: 'ph__menu-link' %>
                    <!-- <a class="ph__menu-link" href="index.html#about"><span>Home</span></a> --></li>
									<li><%= link_to "About us", homes_about_us_path, classs: 'ph__menu-link' %></li>
									<li><%= link_to "Product", products_path, classs: 'ph__menu-link' %></li>
                  <li>
                    <div class="dropdown">
                      <%= link_to "Product", products_path, class: 'ph__menu-link dropbtn' %>
                      <!-- <button class="dropbtn">Dropdown</button> -->
                      <div class="dropdown-content">
                      <%= link_to 'Frozen Vagitables', products_path, class: 'product-link' %>
                      <%= link_to 'Ready To Eat', products_path, class: 'product-link' %>
                      </div>
                    </div>
                  </li>
                  <li class="img-loaded site-logo-anch"><a class="ph__menu-link logo-link" href="index.html#home">
										<span class="logo-img-sticky site-logo-img-sticky">
										<!-- 	<svg xmlns="http://www.w3.org/2000/svg" width="34" height="30" viewBox="0 0 34 30">
												<path id="Forma_2" data-name="Forma 2" class="cls-1" d="M41.962,13c-1.522-2.569-4.5-4.042-8.159-4.042A11.446,11.446,0,0,0,26.915,11.6a11.626,11.626,0,0,0-8.564-3.589,9.588,9.588,0,0,0-7.99,4.671A7.51,7.51,0,0,0,9.2,18.745c0.949,3.962,4.923,6.906,6.593,7.992v9.805a1.439,1.439,0,0,0,1.428,1.449H36.1a1.438,1.438,0,0,0,1.428-1.449V25.992a8.978,8.978,0,0,0,4.037-3.735C43.349,18.862,43.489,15.573,41.962,13Zm-2.914,7.9c-2.366,4.513-12.461,4.7-16.152,4.385a1.449,1.449,0,0,0-.237,2.887c0.158,0.014,1.235.1,2.812,0.1a33.885,33.885,0,0,0,9.206-1.16V35.1H18.652V25.923a1.453,1.453,0,0,0-.735-1.266c-0.05-.028-5.057-2.9-5.94-6.6a4.633,4.633,0,0,1,.759-3.771A6.808,6.808,0,0,1,18.425,10.9a8.88,8.88,0,0,1,6.354,2.607,24.4,24.4,0,0,0-3.222,4.1,1.46,1.46,0,0,0,.48,1.988A1.417,1.417,0,0,0,24,19.113c0.044-.073,4.428-7.261,9.806-7.261,2.637,0,4.718.962,5.712,2.637S40.338,18.434,39.048,20.9Z" transform="translate(-9 -8)"/>
											</svg> -->
										</span>
										<%= image_tag "logo.png", style: 'border-radius: 10px;', size: '196X46', class: 'logo-img site-logo-img' %>
									</a></li>
									 <li><%= link_to "Careers", homes_careers_path, class: 'ph__menu-link' %></li>
									<li><a  class="ph__menu-link" href="index.html#location"><span>sales inquiry</span></a></li>
									<li><a class="ph__menu-link" href="index.html#subscribe"><span>Contact Us</span></a></li>
							 </ul><!--/.ph__mainMenu-->
							</div>
							<!-- right column - navigation menu -->
              <div class="flex-col flex flex-end-x flex-center-y flex-basis-auto flex-sm-half site-header-col-right site-header-main-right">
                  <div class="main-menu-wrapper">
                    <div class="sh-component menu-wrapper">
                       <div class="ph__menuWrapper">
                         <div class="ph__mainMenu-trigger">
                           <a href="#" class="ph__menuBurger">
                             <span></span>
                             <span></span>
                             <span></span>
                           </a>
                         </div><!--/.ph__mainMenu-trigger-->
                        </div><!--/.ph__menuWrapper-->
                    </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
</header>
